<hazelcast>
    <network>
        <port auto-increment="true">5701</port>
        <join>
            <multicast enabled="true">
                <multicast-group>224.2.2.3</multicast-group>
                <multicast-port>54327</multicast-port>
            </multicast>
           
        </join>
    </network>
    
    
    <map name="LOCK_MEMORY_LOCKS_MAP">
        <backup-count>1</backup-count>
    </map>
    
    <map name="LOCK_MEMORY_LOCKS_MAP">
        <map-store enabled="true">
            <!--
               Name of the class implementing MapLoader and/or MapStore.
               The class should implement at least of these interfaces and
               contain no-argument constructor.
            -->
            <class-name>org.streams.coordination.file.impl.hazelcast.FileTrackingStatusHazelcastMapStore</class-name>
            <!--
               Number of seconds to delay to call the MapStore.store(key, value).
               If the value is zero then it is write-through so MapStore.store(key, value)
               will be called as soon as the entry is updated.
               Otherwise it is write-behind so updates will be stored after write-delay-seconds
               value by calling Hazelcast.storeAll(map). Default value is 0.
            -->
            <write-delay-seconds>0</write-delay-seconds>
        </map-store>
    </map>
</hazelcast>
