<hazelcast>
 <properties>
      <!--
       <hazelcast.initial.wait.seconds>1</hazelcast.initial.wait.seconds>
       <hazelcast.initial.min.cluster.size>1</hazelcast.initial.min.cluster.size>
      -->
    </properties>
    <group>
        <name>streams</name>
        <password>streams</password>
    </group>
    <network>
        <port auto-increment="true">5701</port>
        <join>
            <multicast enabled="true">
                <multicast-group>224.2.2.3</multicast-group>
                <multicast-port>54327</multicast-port>
            </multicast>
            <tcp-ip enabled="false">
                 <hostname>test1</hostname>
                 <hostname>test2</hostname>
            </tcp-ip>
        </join>
    </network>
</hazelcast>
