<hazelcast>
 <properties>
      <!--
       <hazelcast.initial.wait.seconds>1</hazelcast.initial.wait.seconds>
       <hazelcast.initial.min.cluster.size>1</hazelcast.initial.min.cluster.size>
      -->
    </properties>
    <group>
        <name>streams</name>
        <password>streams</password>
    </group>
    <network>
        <port auto-increment="true">5701</port>
        <join>
            <multicast enabled="true">
                <multicast-group>224.2.2.3</multicast-group>
                <multicast-port>54327</multicast-port>
            </multicast>
            <tcp-ip enabled="false">
                 <hostname>test1</hostname>
                 <hostname>test2</hostname>
            </tcp-ip>
        </join>
    </network>
    
    <map name="COORDINATION_FILE_TRACKER_MEMORY_MAP">
        <backup-count>1</backup-count>
        <time-to-live-seconds>0</time-to-live-seconds>
        <max-idle-seconds>259200</max-idle-seconds> <!-- set to 3 days -->
        <eviction-policy>LRU</eviction-policy> 
        <max-size>100000</max-size> <!-- set to 100K files -->
        <eviction-percentage>25</eviction-percentage>
        <eviction-delay-seconds>5</eviction-delay-seconds>
    </map>
    <map name="LOCK_MEMORY_LOCKS_MAP">
        <backup-count>1</backup-count>
        <time-to-live-seconds>0</time-to-live-seconds>
        <max-idle-seconds>300</max-idle-seconds> <!-- set to 5 minutes-->
        <eviction-policy>LRU</eviction-policy> 
        <max-size>100000</max-size> <!-- set to 100K locks -->
        <eviction-percentage>25</eviction-percentage>
        <eviction-delay-seconds>5</eviction-delay-seconds>
    </map>
    <map name="FILE_TRACKER_HISTORY_MAP">
        <backup-count>0</backup-count>
        <time-to-live-seconds>0</time-to-live-seconds>
        <max-idle-seconds>259200</max-idle-seconds> <!-- set to 3 days -->
        <eviction-policy>LRU</eviction-policy> 
        <max-size>1000</max-size>
        <eviction-percentage>50</eviction-percentage>
        <eviction-delay-seconds>10</eviction-delay-seconds>
    </map>
    <map name="FILE_TRACKER_HISTORY_LATEST_MAP">
        <backup-count>0</backup-count>
        <time-to-live-seconds>0</time-to-live-seconds>
        <max-idle-seconds>259200</max-idle-seconds> <!-- set to 3 days -->
        <eviction-policy>LRU</eviction-policy> 
        <max-size>1000</max-size>
        <eviction-percentage>50</eviction-percentage>
        <eviction-delay-seconds>10</eviction-delay-seconds>
    </map>
    <map name="AGENT_NAMES_MAP">
        <backup-count>0</backup-count>
        <time-to-live-seconds>0</time-to-live-seconds>
        <max-idle-seconds>0</max-idle-seconds>
        <eviction-policy>LRU</eviction-policy> 
        <max-size>10000</max-size>
        <eviction-percentage>25</eviction-percentage>
        <eviction-delay-seconds>4</eviction-delay-seconds>
    </map>
    <map name="LOG_TYPES_MAP">
        <backup-count>0</backup-count>
        <time-to-live-seconds>0</time-to-live-seconds>
        <max-idle-seconds>0</max-idle-seconds>
        <eviction-policy>LRU</eviction-policy> 
        <max-size>1000</max-size>
        <eviction-percentage>25</eviction-percentage>
        <eviction-delay-seconds>4</eviction-delay-seconds> 
    </map>
    
</hazelcast>
