<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
                <layout class="org.apache.log4j.PatternLayout">
                     <param name="ConversionPattern"
                                value="%d{${datestamp}} %p %t %c - %m%n" />
                </layout>
        </appender>

        <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="FILE"/>
                <param name="BufferSize" value="500"/>
                <param name="Blocking" value="false"/>
        <appender-ref ref="FILE"/>
        </appender>

        <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
                <param name="File" value="/opt/streams-collector/logs/streams-collector.log"/>
                <param name="MaxFileSize" value="20MB"/>
                <param name="MaxBackupIndex" value="1"/>
                <layout class="org.apache.log4j.PatternLayout">
                     <param name="ConversionPattern"
                                value="%d{${datestamp}} %-5p [%t]: %c - %m%n" />
                </layout>
        </appender>

        <root>
                <priority value="info"/>
                <appender-ref ref="ASYNC"/>
        </root>
</configuration>
